<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=12" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Why Expat | Turnover Prediction </title>
	<meta http-equiv="Cache-control" content="no-cache">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<script src="https://code.jquery.com/jquery.js"></script>

	<link href="./assets/fonts/fonts.css" rel="stylesheet" type="text/css" />
	<link href="../static/stylesheets/whyexpat.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<header>
		<a href='index'>
			<div id="logo"><img src="./assets/images/home/logo-bg.png" height="60"></div>
		</a>
	</header>

	<section id='home'>
		<aside>
			<nav>
				<ul>
					<li id='who-we-are'><a href="who-we-are"><i></i><span>Who we are</span></a></li>
					<li id='background'><a href="background"><i></i><span>Background</span></a></li>
					<li id='our-goals'><a href="our-goals"><i></i><span>Our Goals</span></a></li>
					<li id='questionnaire'><a href="questionnaire"><i></i><span>Questionnaire</span></a></li>
					<li id='our-tools'><a href="our-tools"><i></i><span> Our Tools</span></a></li>
				</ul>
			</nav>
		</aside>
		<article>
			<div class='row row-first'>
				<div class="row-left">
					<h1>Our Project</h1>
					<br><br><img src="/"></span></a></li>
				</div>
				<div class="row-right">
					<p>
						<strong>Why Expat </strong><br>
						Employee turnover is a major challenge for companies today, especially when the labor market is
						competitive
						and certain skills are in high demand such as expatriates.
						When expatriates leaves, not only is the productivity of that person lost, but the routine of
						many others is impacted.
						Finding replacements can take months of time and effort on the part of hiring managers and
						recruiting staff,
						who are then forced to take time away from the work they could be doing.
						When a replacement is finally found, it takes weeks to months for that new employee to be
						completely onboarded and working at full capacity.
					</p>
				</div>
			</div>
		</article>
	</section>
	<footer></footer>
	<script type="text/javascript" src='../static/js/whyexpat.js'></script>
</body>

</html>