<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=12" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Why Expat | Our Goals</title>
	<meta http-equiv="Cache-control" content="no-cache">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<script src="https://code.jquery.com/jquery.js"></script>

	<!--<link rel="icon" href="assets/favicon.png" type="image/x-icon">-->
	<link href="./assets/fonts/fonts.css" rel="stylesheet" type="text/css" />
	<link href="../static/stylesheets/whyexpat.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<header>
		<a href='index'>
			<div id="logo"><img src="./assets/images/home/logo-bg.png" height="60"></div>
		</a>
	</header>

	<section id='our-goals'>
		<aside>
			<nav>
				<ul>
					<li id='who-we-are'><a href="who-we-are"><i></i><span>Who we are</span></a></li>
					<li id='background'><a href="background"><i></i><span>Background</span></a></li>
					<li id='our-goals'><a href="our-goals"><i></i><span>Our Goals</span></a></li>
					<li id='questionnaire'><a href="questionnaire"><i></i><span>Questionnaire</span></a></li>
					<li id='our-tools'><a href="our-tools"><i></i><span> Our Tools</span></a></li>
				</ul>
			</nav>
		</aside>
		<article>
			<div class='row row-first'>
				<div class="row-title">Reduce Turnover Function Analysis</div>
				<div class="row-text">
					<!-- XXXXXXX:<br><br> -->
					<img src="./assets/images/background/Sunburst Dashboard_function.png" width="100%">
					<br><br>
					<a href="https://public.tableau.com/profile/joao.victor.bonini#!/vizhome/Sunburst_function/SunburstDashboard"
						class='boton center' style='width: 130px;' target="_blank">Tableau link</a>
				</div>
			</div>
			</div>
			<div class='row row-first'>
				<div class="row-full">
					<div class="row-title">Reduce Turnover Type of termination Analysis </div>
					<div class="row-text">
						<!-- XXXXXXX:<br><br> -->
						<img src="./assets/images/background/Sunburst Dashboard_termination.png" width="100%">
						<br>
						<a href="https://public.tableau.com/profile/joao.victor.bonini#!/vizhome/Sunburst_termination/SunburstDashboard"
							class='boton center' style='width: 130px;' target="_blank">Tableau link</a>
					</div>
				</div>
			</div>
			<div class='row row-first'>
				<div class="row-full">
					<div class="row-title">Reduce Turnover Leader type Analysis </div>
					<div class="row-text">
						<!-- XXXXXXX:<br><br> -->
						<img src="./assets/images/background/Sunburst Dashboard_leader.png" width="100%">
						<br>
						<a href="https://public.tableau.com/profile/joao.victor.bonini#!/vizhome/Sunburst_leader/SunburstDashboard"
							class='boton center' style='width: 130px;' target="_blank">Tableau link</a>
					</div>
				</div>
			</div>
			<script type="text/javascript" src='../static/js/whyexpat.js'></script>
</body>

</html>