<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=12" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Why Expat | Who we are</title>
	<meta http-equiv="Cache-control" content="no-cache">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<!--<link rel="icon" href="/assets/favicon.png" type="image/x-icon">-->
	<link href="../assets/fonts/fonts.css" rel="stylesheet" type="text/css" />
	<link href="../static/stylesheets/whyexpat.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<header>
		<a href='index'>
			<div id="logo"><img src="../assets/images/home/logo-bg.png" height="60"></div>
		</a>
	</header>

	<section id='who-we-are'>
		<aside>
			<nav>
				<ul>
					<li id='who-we-are'><a href="who-we-are"><i></i><span>Who we are</span></a></li>
					<li id='background'><a href="background"><i></i><span>Background</span></a></li>
					<li id='our-goals'><a href="our-goals"><i></i><span>Our Goals</span></a></li>
					<li id='questionnaire'><a href="questionnaire"><i></i><span>Questionnaire</span></a></li>
					<li id='our-tools'><a href="our-tools"><i></i><span> Our Tools</span></a></li>
				</ul>
			</nav>
		</aside>
		<article>
			<div class='row row-first'>
				<div class="row-title">WhyExpat Team</div>
				<div class="row-text">The team that made WhyExpat possible, a special thanks to Dave, Kevin and Jayna!
				</div>
			</div>
			<div class="row">
				<!-- <div class="row-title">Nosso time</div> -->
				<div class="row-pilares">
					<div class="columna-image-pilares">
						<div class="image-pilares font-big" style="background-color: #DA8835">LEI QIN</div>
					</div>
					<div class="texto-pilares">
						<br><br><a href="https://www.linkedin.com/in/lei-qin-195a3b56/"
							target="_blank">https://www.linkedin.com/in/lei-qin-195a3b56//</a>
					</div>
				</div>
				<div class="row-pilares">
					<div class="columna-image-pilares">
						<div class="image-pilares font-big" style="background-color: #6ABAAD">ROB SEABERG</div>
					</div>
					<div class="texto-pilares">
						<br><br><a href=https://www.linkedin.com/in/robin-seaberg-43161438/
							target="_blank">https://www.linkedin.com/in/robin-seaberg-43161438/</a>
					</div>
				</div>
				<div class="row-pilares">
					<div class="columna-image-pilares">
						<div class="image-pilares font-big" style="background-color: #84BC25">WINNIE WU</div>
					</div>
					<div class="texto-pilares">
						<br><br><a href="https://www.linkedin.com/in/winnie-wu-profile/"
							target="_blank">https://www.linkedin.com/in/winnie-wu-profile/</a>
					</div>
				</div>
				<div class="row-pilares">
					<div class="columna-image-pilares">
						<div class="image-pilares font-big" style="background-color: #7DA1C5">JOAO VICTOR BONINI</div>
					</div>
					<div class="texto-pilares">
						<br><br><a href="https://www.linkedin.com/in/jo%C3%A3o-victor-bonini-02576013/"
							target="_blank">https://www.linkedin.com/in/jo%C3%A3o-victor-bonini-02576013/</a>
					</div>


				</div>
			</div>
		</article>
	</section>

	</div>
	</article>
	</section>

	<footer></footer>
	<script type="text/javascript" src='../static/js/whyexpat.js'></script>
</body>

</html>